@import '../../styles/mixins';

.editor-deps-view {
  color: #aaa;
  padding: 10px;
  dt {
    margin-bottom: 3px;
  }
  .dependencies {
    color: #9ccc65;
  }
  .dependents {
    color: #29b6f6;
  }
  dd {
    padding: 0;
    margin: 0;
  }
  a {
    display: block;
    color: #bbb;
    padding: 4px 10px 4px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      background-color: #444;
      color: #bbb;
    }
  }
  .common-svg-icon {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    transform: translateY(2px);
    fill: #888;
  }
}
