{
  'globals': {
    'describe': true,
    'it': true,
    'before': true,
    'beforeAll': true,
    'after': true,
    'afterAll': true,
    'afterEach': true
  },
  'rules': {
    'no-unused-expressions': 0,
    'import/no-extraneous-dependencies': 0
  }
}
