{
  "extends": "./node_modules/eslint-config-airbnb/.eslintrc",
  "parser": "babel-eslint",
  "globals": {
    "document": true,
    "window": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    "strict": 0,
    "guard-for-in": 0,
    "max-len": 0,
    "no-nested-ternary": 0,
    "no_underscore_dangle": 0,
    "no-console": 0,
    "no-shadow": 0,
    "object-curly-newline": 0,
    "global-require": 0,
    "new-cap": 0,
    "class-methods-use-this": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
    "react/forbid-prop-types": 0,
    "jsx-a11y/label-has-for": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/imports-first": 0
  }
}
