{
  'extends': './node_modules/eslint-config-airbnb/.eslintrc',
  'parser': 'babel-eslint',
  'rules': {
    'guard-for-in': 0,
    'max-len': 0,
    'no-nested-ternary': 0,
    'no-console': 0,
    'global-require': 0,
    'new-cap': 0,
    'react/jsx-filename-extension': 0
  }
}
