{
  "globals": {
    "describe": true,
    "it": true,
    "before": true,
    "after": true,
    "afterEach": true
  },
  "rules": {
    "no-unused-expressions": 0,
    "import/no-extraneous-dependencies": 0
  }
}
