@import './antdDarkMixins';

@feature-color: #33cdff;
@action-color: #ff81c3;
@component-color: #ffb14a;
@misc-color: #a1887f;
@route-color: lighten(#26a69a, 10%);
@side-panel-width: 240px; // not used any more
.scroll-style() {
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    transition: all 0.3s ease;
    border-color: transparent;
    background-color: hsla(0, 0%, 100%, 0.1);
    z-index: 40;
  }

  &::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0);
  }
}

.abs-full() {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.vertical-align() {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

