@import '../../styles/mixins';

.config-deps-manager {
  border-top: 1px solid #000;
  padding: 20px;

  .toolbar {
    margin: 20px 0 0 0;
    min-width: 700px;
    max-width: 900px;
    &.no-top-margin {
      margin-top: 0;
    }
    h3 {
      margin: 0;
      display: inline-block;
      color: rgba(255, 255, 255, 0.7);
    }
    .ant-btn {
      float: right;
      transform: translateY(4px);
    }
  }

}
