{
  'rules': {
    'strict': 0,
    'prefer-template': 0,
    'one-var': 0,
    'no-param-reassign': 0,
    'no-continue': 0,
    'prefer-rest-params': 0,
    'prefer-spread': 0,
    'global-require': 0,
    'one-var-declaration-per-line': 0,
    'import/no-dynamic-require': 0
  },
  'globals': {
    'document': true,
    'window': true
  }
}
